* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgba(152, 255, 152, 0.7);
    flex-wrap: wrap;
}

#header {
    position: fixed;
    width: 100vw;
}

a {
    text-decoration: none;
    color: black;
}



li:hover {
    transform: scale(1.1);
}

#logo {
    display: none;
    align-self: center;
}

li {
    align-self: center;
    transition: all 0.2s ease-in-out;
    margin: 1em;
}


a:visited {
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    #logo {
        display: block;
        margin: 1em;
        transition: all 0.2s ease-in-out;
    }

    #logo:hover {
        transform: scale(1.3);
    }

    nav {
        justify-content: flex-start;
    }
}
